ssl:enabled=false
application:loglevel=warn
application:dialerCbMinusAttempt=true
conference:enable=false
conference:validateMail=false
mongodb:uri=mongodb://mongo:27017/webitel
webitelServer:host=wconsole
cdrServer:useProxy=false
#defaultPublicRout=0000
