LOGLEVEL=ERR
AMQP_HOST=172.17.0.1
PGSQL_HOST=172.17.0.1
CDR_SERVER=172.17.0.1:10021
ACR_SERVER=172.17.0.1:10030
CONF_SERVER=172.17.0.1:10024
MOH=true
SND_EN=true
#SND_RU=true
#SIP_NONREG_IP=
#SIP_NONREG_EXT_IP=
#SIP_EXTERNAL_IP=
#SIP_EXTERNAL_EXT_IP=
#SIP_INTERNAL_IP=
#SIP_INTERNAL_EXT_IP=
#VERTO_IP=
#VERTO_EXT_IP=
#ES_IP=
