elastic:enabled=true
mediaFile:providers:local:fileRoot=/recordings/
recordFile:cronJobDeleteOldFile=30 2 * * *
recordFile:defaultDaysLifeFiles=1200
recordFile:defaultProvider=local
recordFile:providers:local:fileRoot=/recordings/
mediaFile:providers:local:fileRoot=/recordings/
#recordFile:providers:s3:region=eu-west-1
#recordFile:providers:s3:bucketName=webitel.s3.com
#recordFile:providers:s3:accessKeyId=accessKeyId
#recordFile:providers:s3:secretAccessKey=secretAccessKey
#recordFile:providers:b2:bucketName=webitel
#recordFile:providers:b2:bucketId=bucketId
#recordFile:providers:b2:applicationKey=applicationKey
#recordFile:providers:b2:accountId=accountId
#recordFile:cronJobDeleteOldFile=30 2 * * *
#recordFile:defaultDaysLifeFiles=365
#tts:defaultProvider=polly
#tts:polly:accessKey=
#tts:polly:accessToken=
#tts:ivona:accessKey=
#tts:ivona:accessToken=
#tts:microsoft:accessKey=
#tts:microsoft:accessToken=
