ssl:enabled=false
elastic:enable=true
elastic:enabled=true
elastic:host=hap:9200
application:loglevel=warn
application:writeUserStatus=true
application:dialerCbMinusAttempt=true
conference:enable=false
conference:validateMail=false
webitelServer:host=wconsole
cdrServer:useProxy=false
#defaultPublicRout=0000
maxGoroutines=1
broker:account:enable=true
broker:connectionString=amqp://webitel:webitel@hap?heartbeat=0
broker:account:connectionString=amqp://webitel:webitel@hap?heartbeat=0
broker:publisher:connectionString=amqp://webitel:webitel@hap?heartbeat=0
broker:receiver:connectionString=amqp://webitel:webitel@hap?heartbeat=0
mongodb:uri=mongodb://mongo:27017,mongo-rep:27017,mongo-arb:27017/webitel?replicaSet=webitel
mediaFile:providers:local:fileRoot=/recordings/
recordFile:cronJobDeleteOldFile=30 2 * * *
recordFile:defaultDaysLifeFiles=1200
recordFile:defaultProvider=local
recordFile:providers:local:fileRoot=/recordings/
mediaFile:providers:local:fileRoot=/recordings/
#recordFile:providers:s3:region=eu-west-1
#recordFile:providers:s3:bucketName=webitel.s3.com
#recordFile:providers:s3:accessKeyId=accessKeyId
#recordFile:providers:s3:secretAccessKey=secretAccessKey
#recordFile:providers:doSpaces:region=nyc3
#recordFile:providers:doSpaces:bucketName=myBucketName
#recordFile:providers:doSpaces:accessKeyId=accessKeyId
#recordFile:providers:doSpaces:secretAccessKey=secretAccessKey
#recordFile:providers:b2:bucketName=webitel
#recordFile:providers:b2:bucketId=bucketId
#recordFile:providers:b2:applicationKey=applicationKey
#recordFile:providers:b2:accountId=accountId
#replica:enabled=false
#replica:live=false
#replica:cronJob=1 1 * * *
#replica:host=http://10.10.10.10:10025
#replica:auth:password=myPassword
#tts:defaultProvider=polly
#tts:polly:accessKey=
#tts:polly:accessToken=
#tts:microsoft:accessKey=
#tts:microsoft:accessToken=
freeSWITCH:host=freeswitch
FS_HOST=freeswitch
