[Unit]
Description=Webitel Admin containers
Requires=docker.service
After=docker.service
After=webitel-mongo.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a admin
ExecStop=/usr/bin/docker stop -t 2 admin

[Install]
WantedBy=multi-user.target
