[Unit]
Description=Webitel FreeSWITCH containers
Requires=docker.service
After=webitel-wconsole.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a freeswitch
ExecStop=/usr/bin/docker stop -t 2 freeswitch

[Install]
WantedBy=local.target
