[Unit]
Description=Webitel ACR containers
Requires=docker.service
After=docker.service
After=webitel-mongo.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a acr
ExecStop=/usr/bin/docker stop -t 2 acr

[Install]
WantedBy=multi-user.target
